In [1]:
# library import
from utility_functions import *
import plotly.express as px
import pandas as pd

database = 'netflix.db'
conn = create_connection(database)

sql = """
SELECT
	Films_And_Genres.FILMID, Films_And_Genres.GENRE, Films.YEAR_ADDED, COUNT(GENRE) AS FREQUENCY

FROM Films
INNER JOIN Films_And_Genres ON Films.FILM_ID = Films_And_Genres.FILM_ID

WHERE Films_And_Genres.GENRE in ('Dramas', 'Thrillers', 'Romantic')
GROUP BY Films.YEAR_ADDED

"""

df = pd.read_sql(sql, conn)
labels = {"YEAR_ADDED": 'Year Added', "FREQUENCY": "Number of Films Added"}
title = "Number of Films Added Per Year By Genre"
fig = px.line(df, x="YEAR_ADDED", y="FREQUENCY", color='GENRE', labels = labels, title = title)
fig.show()

DatabaseError: Execution failed on sql '
SELECT
	Films_And_Genres.FILMID, Films_And_Genres.GENRE, Films.YEAR_ADDED, COUNT(GENRE) AS FREQUENCY

FROM Films
INNER JOIN Films_And_Genres ON Films.FILM_ID = Films_And_Genres.FILM_ID

WHERE Films_And_Genres.GENRE in ('Dramas', 'Thrillers', 'Romantic')
GROUP BY Films.YEAR_ADDED

': no such column: Films_And_Genres.FILMID